/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */
@font-face {
     font-family: Wichita;
     src: url('Wichita.ttf') format("truetype");
   
}
/* buttons */
html, body{
	margin-top: 0px;
	font-family: 'Wichita', 'Open Sans', sans-serif;
	overflow-x: hidden;
	width: 100%;
	text-align: justify !important;
}
h1, h2, h3, h4, h5{
	font-family: Wichita!important;
	font-stretch:  normal,
	condensed,
	ultra-condensed,
	extra-condensed,
	semi-condensed,
	expanded,
	semi-expanded,
	extra-expanded,
	ultra-expanded;
	font-weight: normal, bold, 100, 200, 300, 400, 500, 600, 700, 800, 900;
}
select {
    text-transform: none;
    width: 100%;
    height: 35px;
    border-radius: 0;
    border: 1px solid #ddd;
    color: #8f8f8f;
}
.button{
	background-color: #29166f;
	width: 100px;
	height: 40px;
	display: block;
	align-items: left;
	border: none;
	cursor: pointer;
	color: #fff;

}
.button:hover{
	opacity: 0.5;
	cursor: pointer;
}
.button2{
	background-color: #29166f;
	width: 300px;
	height: 60px;
	display: block;
	align-items: left;
	border: none;
	cursor: pointer;
	color: #fff;
	margin: 30px auto;
}
.button2:hover{
	opacity: 0.5;
	cursor: pointer;
}

/* navbar */
.navbar{
	border: 0;
	border-radius: 0;
	 width: 100%;
	 top: 0;
	 background-color: #29166f;
	 height: 110px;
	 margin: 0;
	 z-index: 999999;
	 font-family: Wichita!important;

}
.navbar-nav>li>a{
	color: #fff!important;
	margin-left: 10px;
	 font-size: 1.2em;
	 font-weight: 100;
	 border-bottom-width: 1px;
    border-bottom-color: transparent;
}
.navbar-nav>li>a:hover{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	-webkit-transition:  0.3s linear ;
	transition:  0.3s linear ;

}
.navbar-nav>li>a:focus{
	background-color:  transparent !important;
	border-bottom-width: 2px;
	border-bottom-color: #fff;
}
.navbar-toggle{
	top: 35px;
	height: auto;
	z-index: 9999;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-nav{
	position: relative;
	top: 35px;
	color: #fff !important;
	 font-size: 14px !important;
}
.navbar-collapse{
	background-color: #29166f;
	height: 300px;
	border: 0;

}

/* logo */
.navbar-brand{
	position: relative;
	top: 20px;
}


/* topbar */
.topbar{
	background-color: #000000; 
	height: 40px;
	color: #7e7e7e;
}
.topbar .fa{
	margin-right: 10px;
}
.topbar .fa-mobile{
	font-size: 20px;
}

.topbar a, .topbar span{
	color: #7e7e7e;
}


.topbar>ul>li {
	font-size: 14px;
	list-style: none;
	display: inline-block;
	float: left;
	margin:  10px;
	font-size: 14px;
}
.social-header{
	position: absolute;
    right: 240px;
}

.contact-header{
	position: absolute;
    left: 190px;
}
/* slider */

.item img{
	width: 100%;
	position: initial;
	top: -10px;
}

.carousel-indicators li {
    display: inline-block;
    width: 30px;
    height: 5px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: #fff;
    border: 1px solid #29166f;
    z-index: 2;
    
}

/* slider */

.carousel-indicators .active {
    width: 30px;
    height: 5px;
    margin: 0;
    background-color: #29166f;
}
.carousel-inner a{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
.carousel-caption{
	width: 70%;
	height: 100%;
	top: 110px;
}
.carousel-caption h2{
	font-size: 4rem;
	margin-bottom: 10px;
}
.carousel-caption p{
	font-size: 2em;
}
.carousel-caption span{
	font-size: .5em;
	margin-top: 5px;
	display: inline-block;
	letter-spacing: 1px;
	margin-top: 20px;
}

.button-slider{
	background-color: #29166f;
	width: 100px;
	height: 40px;
	display: block;
	align-items: left;
	border: none;
	cursor: pointer;
}
.button-slider:hover{
	opacity: 0.5;
	cursor: pointer;
}


/* areas de atuacao */

.areas{
	margin-top: 60px;
}

.areas img{
	width: 70px;
    display: block;
    margin: 30px auto 10px auto;
}

.areas h3{
	font-weight: 200;
}

.areas p{
	align-items: left;
	clear: both;
	display: block;
	margin-top: 20px;
	color: #797c83;
}

.areas a{
	text-decoration: none;
	color: #2b196d;
}
.areas a:hover{
	opacity: 0.5;
}

/* cta  home*/
.cta-home{
	margin-top: 60px;
	height: 60px;
}

.cta-home p{
	margin: 20px;
}


.panel{
	height: auto;
	margin: 30px auto;
}
.panel-body h3{
	/* display: inline-block;
	float: left;
	margin-right:  90px;
	margin-top: 35px;
	margin-left: 60px;
	margin-bottom: 35px;
	background-color: #fcfcfc; */
	margin: 40px auto;
}

.panel-body .button{
margin-top: 18px;
}

.button-panel {
    /* position: relative; */
    display: inline-block;
    width: 150px;
    display: inline-block;
    height: 60px;
    
}
.divisor{
	z-index: 99999;
    height: 130px;
    width: 130px;
    background: transparent;
   border: 1px solid: #ddd;
   border-left-style: solid;
   border-left-color: #ddd;
   border-left-width: 1px;
    position: relative;
    top: -17px;
    right: -840px;
}




.divisor:after {
    top: 40%;
    left: -24%;
    border: solid transparent ;
    content: " ";
    position: absolute;
    border-right-color: #ddd;
    border-width: 15px;

}


/* artigos */

	.artigos{
		margin-top: 150px;
		margin-bottom: 60px;
	}
	.artigos a{
		text-decoration: none;
		color: #797c83;
	}
	.artigos a h4{
		text-decoration: none;
		color: #000;
	}
	.artigos a:hover{
		text-decoration: none;
		color: #2b196d;
		cursor: pointer;
	}
.item-artigo{
	height: 80px;	
	margin: 30px auto;
}
.indicator-date{
	display: inline-block;
	float: left;
	font-family: font-family: Wichita!important;
}

.data{
	background-color: #2b196d;
	color: #fff;
	width: 60px;
	height: 70px;
	padding-top: 1px;
	text-align: center;
	margin-bottom: 0;
	margin-right: 30px;
	font-family: font-family: Wichita!important;
}

.dia p{
	margin-top: 10px;
	font-family: Wichita!important;
	font-size: 25px
}

.mes{
	background-color: #000;
	width: 60px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.conteudo-artigo{
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 20px;
	margin-right: 40px;
}



/* depoimentos */

.testemunho{
	width: 560px;
}
.testemunho p {
	color:  #797c83;

}
.testimonial-section {
    max-width: 100%;
    height: auto;
    padding: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #ddd;
    font-size:12px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #fcfcfc;
    font-family: Wichita!important;
    font-size: 15px;
    text-align: justify;
    color: #797e9b;
    display: block;

}
.testimonial-section span{
    display: inline-block;
    float: left;
    width: 30px;
    transform: rotate(180deg);
    margin-right: 10px;
}
.testimonial-section:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #ddd;
    border-width: 15px;
    margin-left: -15px;
}

.testimonial-section-name {
    margin-top: 30px; 
    text-align:left;
    color:#000;
}
.testimonial-section-name img {
    max-width:60px;
    border: 2px solid #ddd;
    float: left;
    display: inline-block;
    margin-right: 30px;
}
.testimonial-section-name span{
	font-size: 12px;
}


/* clientes logos */
/* carousel */
.thumbnail{
	border: none;
	width: 150px;
	height: 70px;
}

.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
  border: none;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

/* noticias */
.noticia{
	margin-bottom: 60px; 
}
.new a{
	text-transform: none;
}
.new a:hover{
	background-color: #6c6c6c;
}
.new p{
	color:  #000;
	text-transform: uppercase;
	font-weight: 400;
	margin-top: 30px;
}
.new span{
	color:  #2b196d;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 30px;
}



.clientes-desktop img{
	width: 130px;
}
/* footer */

footer{
	background-color: #000000;
	height: auto;
	border-top-style: solid;
	border-top-color: #2b196d;			
	border-top-width: 30px;
	height: auto;
	color: #585858;
	padding-bottom: 20px;
}

footer img{
	width: 230px;
	margin-top: 60px;
}

footer .sobre{
	margin-top: 30px;
}

.mail{
	color: #fff;
}

footer .endereco i, footer .telefone i {
	font-size: 30px;
	margin-top: 20px;
}
footer hr{
    border: solid 1px #232323;
    margin-top: 5px;
    margin-bottom: 5px; 
}

footer p{
	margin: 5px auto 5px auto;
}
.mail .fa-globe{
	font-size: 20px!important;
	margin-top: 30px;
}


.second-col{
	margin-top: 48px;
	color: #fff;
}
.second-col a{
	color: #fff;
	text-decoration: none;

}
.second-col a:hover{
	color: #aaa;
	text-decoration: none;
	
}

.formulario h3{
	color: #fff;
	margin-top: 68px;
}

.formulario button{
	background-color: #252525;
	color: #fff;
	border: none;
	width: 100px;
	margin-bottom: 70px;
}
.formulario button:hover{
	background-color: #6c6c6c;
}
.formulario input, .formulario textarea{
	width: 430px;
	background-color: #0a0a0a;
	color: #fff;
	border-radius: 0;
	border: 1px solid #232323;
}
.formulario span{
	color: #2b196d;
}

.copy{
	background-color: #0c0c0c;
	height: auto;
}


.copy p{
	margin: 18px auto;
	color: #8c938c;
}
.social-footer>ul>li{
	font-size: 14px;
	list-style: none;
	display: inline-block;
	float: left;
	margin:  10px;
	color: #585858;
	font-size: 14px;
}
.social-footer .fa{
	border:  1px solid #585858;
	padding: 10px;
	list-style: none;
	color: #585858;
}
.social-footer .fa:hover{
	color: #2b196d;
	border:  2px solid #2b196d;
}

.social-footer p{
	color:  #585858;
}

.social-footer .fa-facebook{
	padding-right: 13px;
	padding-left: 13px;
}
.social-footer .fa-rss{
	padding-right: 11px;
	padding-left: 11px;
}

/* top button */

.top {
	border:  1px solid #585858;
	padding: 15px;
	list-style: none;
	color: #585858;
	font-size: 20px;
	position: fixed;
	bottom: 00px;
	right: 40px;
}
.fa-arrow-up{
	color: #585858;
}
.top:hover {
	border:  1px solid #2b196d;
	background-color: #2b196d;
	opacity: 0.9;
	
}


/* validacao formulario */
.form-error{
  border: 1px solid #8D6EFF;
}

.help-block{
  display: none;
}

.valid-error{
    display: block;
    background: #8D6EFF;
    margin-top: 0;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #000;
}

.breadcrumbs{
	background-color: #fbfbfb;
	height: 100px;
	border:  1px solid #ddd;
	margin: 0 ;
	padding: 10px!important;
}
.breadcrumbs .links>ul>li{
	list-style: none;
	float: left;
	display: inline-block;
	margin-top: 30px;
	margin-right: 10px;
	font-size: 14px;
	text-align: center;
	position: relative;
	right: -330px;
	font-size: 12px;
}

.breadcrumbs h2{
	position: relative;
	left: -140px;
}

/* equipe */

.equipe h3{
	margin: 60px ;
}

.equipe-membro img{
	width: 270px;
	height: auto;
	padding: 0;
	margin:  0 auto;
}
.equipe-membro{
	margin-top: 30px;
	 margin-left: 20px;
	margin-right: 20px; 
	margin-bottom: 60px;
	max-width: 300px; 
	border:  1px solid #ddd;
	height: 390px;
	padding: 0;
}
.equipe-membro2 img{
	width: 100%;
	height: auto;
	padding: 0;
	margin:  0 auto;

}
.equipe-membro3 img{
	width: 100%;
	height: auto;
	padding: 0;
	margin:  0 auto;

}
.equipe-membro2{
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 60px;
	width: 100%;
	height: 700px;
	border:  1px solid #ddd;
	padding-bottom: 30px;
	padding-left: 0;
    padding-right: 0;
}
.equipe-membro3{
	margin-bottom: 140px !important;
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	height: 240px;
	border:  1px solid #ddd;
	padding-bottom: 30px;
	padding-left: 0;
    padding-right: 0;
}
.info-membro{
	border: 1px solid #ddd;
	background-color: #fff;
	position: relative;
	top: -30px;
	margin: 0 auto;
	padding: 10px;
	width: 160px
}
.info-membro-2{
	text-align: justify;
	padding: 0 15px 0 15px;
}



.info-membro span{
	font-size: 12px
}
/* SOBRE  */
.about{
	margin: 10px auto;
}

.about-description{
	margin-top: 50px;
}
/* pagina artigos */

.busca {
	margin: 60px 0 0 0 ;
	padding-left: 0;
	padding-right: 0;
}
.ordem {
	display: inline-block;
	z-index: 999;
	position: relative;
}
.ordem h4{
	display: inline-block;
	float: left;
	margin-left: -20px;
	margin-top: -10px
}
.ordem ul{
	display: block;
	position: absolute;
	margin-left: 60px

}

.ordem>ul>li{
	list-style: none!important;
	display: inline-block;
	float: left;
	margin:  30px 10px -10px 10px;
	
}

.ordem a{
	text-decoration: none;
	color: #565658;
}
.ordem a:hover{
	color: #8D6EFF;
}


.list-group a{
	text-decoration: none;
	color: #868686;
}

.list-group-item{
	border-right: none;
	border-left: none;
}

.artigo-item{
	margin-top: 60px;
}
.artigo-item figcaption{
 	position: relative;
 	top: -60px;
 	left:  40px;
 	font-size: 20px;
 	color: #fff;
}
.artigo-item ul>li{
	list-style: none;
	display: inline-block;
	float: left;
	margin-right: 15px;
	position: relative;
	top: 30px;
	left: 110px;

}
.artigo-item ul li a{
	text-decoration: none;
	color: #565656;
}

.artigo-item ul li a:hover{
	color: #8D6EFF;
}

.artigo-item ul li a span{
	margin-top: 2px;

}
.artigo-item ul li a span:hover{
	color: #8D6EFF;

}

.artigo-item-2 img{
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
}
.artigo-item-2 p{
	display: inline;

}
.artigo-item-2{
	margin-top: 40px;
}
.artigo-item-2 figcaption{
 	position: relative;
 	top: -60px;
 	left:  40px;
 	font-size: 20px;
 	color: #fff;
}
.artigo-item-2 ul>li{
	list-style: none;
	display: inline-block;
	float: left;
	margin-right: 15px;
	position: relative;
	top: 30px;
	left: 400px;

}

.miscelaneous a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #565658;
}
.miscelaneous a:hover{
	color: #8D6EFF;
}

.artigo-item-2 ul li a{
	text-decoration: none;
	color: #565656;
	left: 120px
}

.artigo-item-2 ul li a span{
	margin-top: 2px;
}
.artigo-item-2 ul li a span:hover{
	color: #8D6EFF;
}

.artigo-item .fa:hover{
	color: #8D6EFF;
}

.miscelaneous {
	margin-left: 10px;
}

.preview-conteudo a{
	text-decoration: none;
	color: #565656;
	display: block;
	text-align: center;
}

.preview-conteudo a:hover{
	text-decoration: none;
	color: #8D6EFF;
}

.load-more{
	margin: 100px auto;
}


/* //pagina servicos */
.servicos h4, {
 margin: 30px 20px;
}

.servicos h3{
	margin: 60px 15px 30px 15px ;
}
.img-servicos img{
	display: inline-block;
	float: left;
	margin-right: 5px;
}
.img-servicos-2{
	margin-bottom: 20px;

}
.img-servicos h4{
	font-size: 1.6em;
	color:#2b196d; 
}
.img-servicos p{
	margin: 30px auto; 
}

.servicos ul>li p{
	margin-top: -5px;
}

.end{
	margin-bottom: 100px;
}


/* fale conosco pagina */
.map{
	margin: 40px auto -10px auto;
}
.fale-conosco h3{
	margin: 30px 20px;
}
.formulario2 input,  .formulario2 textarea, .formulario2  select{
	margin: 20px auto;
	width: 100%;
    height: 35px;
  	border: 1px solid #ddd;
    background-color: #eee;
}

.fotmulario2  select{
	text-transform: none;
    width: 100%;
    margin: 20px auto;
    height: 35px;
    border-radius: 0;
    color: #ccc;
}
.color-value{
	color: red;
}
.formulario2 textarea{
	height: 200px;
}

.formulario2 .label-principal {
	display: none !important;
}

.clientes-mobile{
	display: none;
}
/* MEDIA QUERRYS  */


@media screen and (max-width: 1280px){
	.social-header{
	position: absolute;
    right: 38px;
}

	.contact-header{
	position: absolute;
    left: -8px;
}
.button-panel {
    position: relative;
    display: inline-block;
    right: -30px;
}
.breadcrumbs .links>ul>li{
		position: relative;
		right: -220px;
	}
.ordem h4{
	margin-left: 160px;

}
	.testemunho{
	width: 560px;
}
.artigo-item-2 ul>li {
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 15px;
    position: relative;
    top: 30px;
    left: 290px;
}


}

@media screen and (min-width: 1280px){
	.clientes-desktop{
		display: inline-block;
	}
	.ordem h4{
	margin-left: 200px;

	}
	.testemunho{
	width: 560px;
}
}

@media screen and (max-width: 992px){
	.breadcrumbs .link>ul>li{
	margin-left: -400px;
}
	.carousel-caption{
		top: -10px;
	}
		.testemunho{
	width: 740px;
}
	

	.social-header{
	position: absolute;
    right: 38px;
}
	.contact-header{
	position: absolute;
    left: -8px;

}
.panel-body h3{
	margin: 40px auto;
	
}

	.breadcrumbs{
		height: 150px
	}
	.breadcrumbs .links>ul>li{
	list-style: none;
	float: left;
	display: inline-block;
	margin-top: 30px;
	margin-left: 40px;
	margin-right: -10px; 
	font-size: 16px;
	}
	
	.clientes-mobile{
		display: inline-block;
	}
	.artigos{
	margin-top: 110px;
	margin-bottom: 60px;
}
.button-panel{
		right: -40%;
		
	}
		.breadcrumbs h2 {
		position: initial;
	}
	.breadcrumbs ul>li{
		position: relative;
    left: 280px;
	}
	.ordem h4{
		margin-top: 30px;
	margin-left:  275px;

}
.ordem ul{
	display: block;
	position: absolute;
	margin-left: 120px

}

.ordem>ul>li{
	list-style: none!important;
	display: inline-block;
	float: left;
	margin:  70px 10px 30px 10px;
	
}

.panel-title{
	margin-top: 20px;
}
.artigo-item ul>li{
	list-style: none;
	display: inline-block;
	float: left;
	margin-right: 15px;
	position: relative;
	top: 30px;
	left: 190px;

}
.artigo-item-2 ul>li {
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 15px;
    position: relative;
    top: 30px;
    left: 180px;
}

.navbar-brand>img {
    display: block;
    width: 100px;
    margin-top: 12px;
}
.navbar-nav {
    position: relative;
    top: 33px;
    color: #fff !important;
    font-size: 13px !important;
}


.equipe-membro2{
	height: 860px;
	width: 730px;
}
.equipe-membro{
	height: 450px;
	max-width: 265px;
	margin: 20px 60px;
}
.equipe-membro3 {
    margin-bottom: 170px !important;
    
    margin-left: 80px;
}

}


@media screen and (max-width: 767px){


		.navbar-collapse{
	background-color: #29166f;
	height: 300px;
	width: 100%;
	border: 0;
	position: relative;
	top: 60px;
}
.navbar-nav {
    position: relative;
    top: 33px;
    color: #fff !important;
    font-size: 13px !important;
}
	.panel-body h3{
	margin: 40px auto;
	
}
	.button-panel{
		right: -28%;
		
	}
		.breadcrumbs h2 { 
		position: initial;
	}
	.breadcrumbs ul>li{
		position: relative;
    left: 150px;
	}
	.second-col{
		display: none;
	}
	.ordem {
		display: inline-block;
		margin-top: 10px;
		margin-left: -20px;
}


.ordem ul>li{
	list-style: none;
	text-align: center;

}
.panel-heading{
	margin-top: 00px;
	display: inline-block;

}
.carousel-caption{
	top: 10px;
}
.carousel-indicators li{
	display: none;
}
.artigo-item ul>li{
	list-style: none;
	display: inline-block;
	float: left;
	margin-right: 15px;
	position: relative;
	top: 30px;
	left: -40px;

}
.artigo-item-2 ul>li {
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 15px;
    position: relative;
    top: 30px;
    left: -25px;
}


}


@media screen and (max-width: 425px){
	.navbar-collapse{
	background-color: #29166f;
	height: 300px;
	width: 100%;
	border: 0;
	position: relative;
	top: 60px;
}
	.testemunho {
    width: 380px;
    margin: 0 auto;
}
.testimonial-section {
    width: 380px;
    margin: 30px auto;
}
.formulario{
	width: 100%;
	margin: auto;
}
.formulario input, .formulario textarea{
	width: 100%;
}
.top {
	border:  1px solid #585858;
	padding: 15px;
	list-style: none;
	color: #585858;
	font-size: 20px;
	position: fixed;
	bottom: 00px;
	right: 30px;
}
.animated{
	display: none;
}

.divisor{
	display: none;
}
.clientes-mobile{
	display: inline-block;
}

.breadcrumbs{
	position: initial;
}
.button-panel{
	margin-top: 10px;
	right: -28%;

}
.panel-body h3{
		margin: 30px auto;
	}
	.breadcrumbs h2 {
		position: initial;
	}
	.breadcrumbs .links>ul>li{
		position: inherit;
	}
	.second-col{
		display: none;
	}
.ordem {
		display: inline-block;
		margin-top: 10px;
		margin-left: -180px;
}

.ordem ul{
	display: block;
	position: absolute;
	margin-left: 170px;
	width: 350px;

}

.ordem>ul>li{
	list-style: none!important;
	display: inline-block;
	float: left;
	margin:  80px 10px -10px 10px;
	
}
.lista{
	position: relative;
	left:660px;
}	.list-group-item {
    margin-left: 240px !important;
	}
	.carousel-caption{
	top: -40px;
	display: block;
}
.carousel-caption h2{
	font-size: 2em;
}
.carousel-caption p{
	font-size: .8em;
}
.carousel-caption span{
	font-size: .8em;
	margin: 10px 20px 0 0;
	width: 80%;
}
.carousel-indicators li{
	display: none;
}
.button-slider{
	width: 80px;
	height: 30px;
	font-size: 10px; 
}

.servicos ul li{
	margin-left: -20px;
}
.artigo-item ul>li{
	list-style: none;
	display: inline-block;
	float: left;
	margin-right: 15px;
	position: relative;
	top: 30px;
	left: 25px;

}
.artigo-item-2 ul>li {
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 15px;
    position: relative;
    top: 30px;
    left: 25px;
}
.ordem h4 {
    margin-top: 30px;
    margin-left: 310px;
	}

	.equipe-membro2 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
    width: 100%;
    height: 600px;
    border: 1px solid #ddd;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}
.equipe-membro{
	height: 420px;
	max-width: 265px;
	margin: 20px 20%;
}
.equipe-membro3 {
    margin-bottom: 70px !important;
    
    margin-left: 100px;
}

}

 

@media screen and (max-width: 375px){
	.equipe-membro2 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
    width: 355px;
    height: 540px;
    border: 1px solid #ddd;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}

.equipe-membro{
	height: 420px;
	max-width: 265px;
	margin: 20px 18%;
}
.equipe-membro3 {
    margin-bottom: 130px !important;
    height: 240px;
    width: 265px !important;
    margin-left: 50px;
}
.col-xs-6 {
    width: 50%;
}

	.navbar-collapse{
	background-color: #29166f;
	height: 300px;
	width: 100%;
	border: 0;
	position: relative;
	top: 60px;
	z-index: 99999;
}
.carousel-indicators li{
	display: none;
}

.carousel-caption{
	display: block;
	top: -40px;
}
.carousel-caption span{
	width: 100%;
}

	.testemunho {
    width: 340px;
    margin: 0 auto;
}
.testimonial-section {
    width: 380px;
    margin: 30px auto;
}
.formulario input, .formulario textarea{
	width: 100%;
}
.top {
	border:  1px solid #585858;
	padding: 10px;
	list-style: none;
	color: #585858;
	font-size: 15px;
	position: fixed;
	bottom: 00px;
	right: 40px;
}
.ordem h4 {
    margin-top: 30px;
    margin-left: 280px;
}
.ordem ul{
	display: block;
	position: absolute;
	margin-left: 150px;
	width: 350px;

}

.ordem>ul>li{
	list-style: none!important;
	display: inline-block;
	float: left;
	margin:  80px 10px -10px 10px;
	
}


.clientes-mobile{
		display: inline-block;
	}
	.breadcrumbs{
		position: initial;
	}
	.button-panel{
		right: -27%;
	}
	.panel-body h3{
		margin: 30px auto;
	}
	.breadcrumbs h2 {
		position: initial;
	}
	.breadcrumbs ul>li{
		position: inherit;
	}
	.second-col{
		display: none;
	}
	.list-group-item {
    margin-left: 260px !important;
	}
}


 #googleMap {
    width: 100%;
    height: 600px;
    margin: 0!important;
    padding: 0!important;
}
